@import "../../../node_modules/bootstrap/scss/bootstrap";

.notPaidTd {
  text-align: center;
  background-color: darkred;
}

.paidTd {
  text-align: center;
  background-color: forestgreen;
  font-weight: bold;
}

.idTd {
  font-weight: bold;
  font-family: "DejaVu Sans Mono";
  color: darkred;
}